apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: keda

helmCharts:
- name: keda
  repo: https://kedacore.github.io/charts
  version: 2.19.0
  releaseName: keda
  namespace: keda
  valuesFile: values.yaml

# Spot VM patch for dev cost reduction
patches:
- target:
    kind: Deployment
  patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: keda
    spec:
      template:
        spec:
          nodeSelector:
            cloud.google.com/compute-class: autopilot-spot
