apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- backend-app/deployment.yaml
- backend-app/service.yaml
- backend-app/serviceaccount.yaml

namespace: backend

labels:
- includeSelectors: true
  pairs:
    app: backend

images:
- name: backend-server
  newName: asia-northeast2-docker.pkg.dev/liverty-music-dev/backend/server
  newTag: latest

patches:
- target:
    kind: Deployment
  patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: all
    spec:
      template:
        spec:
          nodeSelector:
            cloud.google.com/compute-class: "autopilot-spot"

configMapGenerator:
- name: server-config
  envs:
  - backend-app/config.env
