apiVersion: argocd-image-updater.argoproj.io/v1alpha1
kind: ImageUpdater
metadata:
  name: dev-apps
spec:
  namespace: argocd
  writeBackConfig:
    method: argocd
  applicationRefs:
  - namePattern: backend
    images:
    - alias: server
      imageName: asia-northeast2-docker.pkg.dev/liverty-music-dev/backend/server:main
      commonUpdateSettings:
        updateStrategy: digest
  - namePattern: frontend
    images:
    - alias: web-app
      imageName: asia-northeast2-docker.pkg.dev/liverty-music-dev/frontend/web-app:main
      commonUpdateSettings:
        updateStrategy: digest
