apiVersion: apps/v1
kind: Deployment
metadata:
  name: server
spec:
  replicas: 1
  template:
    metadata:
      # Labels handled by commonLabels
    spec:
      serviceAccountName: backend-app
      containers:
      - name: server
        image: backend-server
        ports:
        - containerPort: 8080
          name: http
        envFrom:
        - configMapRef:
            name: server-config
        readinessProbe:
          grpc:
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          grpc:
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 20
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
