apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 2
  strategy:
    rollingUpdate:
      maxUnavailable: 0
  template:
    metadata:
      # Labels handled by commonLabels
    spec:
      serviceAccountName: backend-app
      volumes:
      - name: zkp-verification-key
        configMap:
          name: zkp-verification-key
      containers:
      - name: server
        image: server
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
          name: http
        envFrom:
        - configMapRef:
            name: config
        - secretRef:
            name: backend-secrets
        volumeMounts:
        - name: zkp-verification-key
          mountPath: /configs/zkp/zkp-verification-key.json
          subPath: zkp-verification-key.json
          readOnly: true
        readinessProbe:
          grpc:
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
        livenessProbe:
          grpc:
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 20
          timeoutSeconds: 5
          failureThreshold: 3
        resources:
          requests:
            cpu: 50m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 512Mi
