apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: route
spec:
  parentRefs:
  - name: external-gateway
    namespace: gateway
  hostnames:
  - "api.dev.liverty-music.app"
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /
    backendRefs:
    - name: svc # Referenced via kustomizeconfig.yaml 'nameReference'
      port: 80
