apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml
- serviceaccount.yaml
- httproute.yaml
- health-check-policy.yaml

namePrefix: server-

labels:
- includeSelectors: true
  pairs:
    app: server

images:
- name: server

replacements:
- source:
    kind: Service
    name: svc
    fieldPath: metadata.name
  targets:
  - select:
      kind: HTTPRoute
      name: route
    fieldPaths:
    - spec.rules.0.backendRefs.0.name
  - select:
      kind: HealthCheckPolicy
      name: policy
    fieldPaths:
    - spec.targetRef.name

configMapGenerator:
- name: config
  envs:
  - configmap.env
