apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

patches:
- target:
    kind: Deployment
  patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: atlas-operator
    spec:
      template:
        spec:
          nodeSelector:
            cloud.google.com/compute-class: autopilot-spot
