apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

# Spot VM patch for dev cost reduction
patches:
- target:
    kind: StatefulSet
  patch: |-
    apiVersion: apps/v1
    kind: StatefulSet
    metadata:
      name: nats
    spec:
      template:
        spec:
          nodeSelector:
            cloud.google.com/compute-class: autopilot-spot
