apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: nats

helmCharts:
- name: nats
  repo: https://nats-io.github.io/k8s/helm/charts/
  version: 1.3.16
  releaseName: nats
  namespace: nats
  valuesFile: values.yaml

# Spot VM patch for dev cost reduction
patches:
- target:
    kind: StatefulSet
  patch: |-
    apiVersion: apps/v1
    kind: StatefulSet
    metadata:
      name: nats
    spec:
      template:
        spec:
          nodeSelector:
            cloud.google.com/compute-class: autopilot-spot
