config:
  cluster:
    enabled: false
    replicas: 1

  jetstream:
    enabled: true
    fileStore:
      dir: /data
      pvc:
        enabled: true
        size: 10Gi
        storageClassName: premium-rwo

container:
  merge:
    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        cpu: 200m
        memory: 256Mi

reloader:
  merge:
    resources:
      requests:
        cpu: 10m
        memory: 16Mi
      limits:
        cpu: 50m
        memory: 64Mi

natsBox:
  enabled: false

service:
  ports:
    monitor:
      enabled: true
