apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

helmCharts:
- name: argo-cd
  repo: oci://ghcr.io/argoproj/argo-helm
  version: 9.4.0
  releaseName: argocd
  namespace: argocd
  includeCRDs: true
  valuesFile: values.yaml

patches:
- target:
    kind: (Deployment|StatefulSet|Job)
    namespace: argocd
  patch: |-
    - op: remove
      path: /spec/template/spec/nodeSelector/kubernetes.io~1os
