apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

helmCharts:
- name: argo-cd
  repo: oci://ghcr.io/argoproj/argo-helm
  version: 9.4.0
  releaseName: argocd
  namespace: argocd
  includeCRDs: true
  valuesInline:
    server:
      service:
        type: ClusterIP
      extraArgs:
      - --insecure
    # Enable HA components but allow overlays to scale them
    redis:
      enabled: true
    controller:
      enableStatefulSet: true

patches:
- target:
    kind: Deployment
  patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: all
    spec:
      template:
        spec:
          nodeSelector:
            cloud.google.com/compute-class: "autopilot-spot"
- target:
    kind: StatefulSet
  patch: |-
    apiVersion: apps/v1
    kind: StatefulSet
    metadata:
      name: all
    spec:
      template:
        spec:
          nodeSelector:
            cloud.google.com/compute-class: "autopilot-spot"
